<div class="sticky-top-padding">
  <section class="featured">
    <div class="featured-img featured-img-height background-img-setting position-relative">
      <div class="featured-item position-absolute">
        <h4 class="featured-heading fw-bolder base-color">Fans return to Europe's top stadiums</h4>
        <p class="featured-snippet text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit voluptates delectus praesentium, aspernatur nulla mollitia vel vero adipisci, quas maiores magnam natus! Accusantium nobis aut adipisci repellat consequatur ea assumenda iure vero beatae tempore quidem odio sequi dolore sapiente accusamus, repudiandae corporis, eum ab perferendis quia modi. Deleniti, quam tempore?</p>
      </div>
    </div>
  </section>

  <section class="row categories">
    <div class="col-6 col-lg-3 p-0">
      <div class="featured-img categories-img-height background-img-setting position-relative">
        <span class="category-name position-absolute border-bottom border-3 border-warning text-white fw-bolder pb-1">
          Europe
        </span>

        <span class="category-title position-absolute text-white">Atletico one win from being Champions!</span>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0">
      <div class="featured-img categories-img-height background-img-setting position-relative">
        <span class="category-name position-absolute border-bottom border-3 border-warning text-white fw-bolder pb-1">
          International
        </span>

        <span class="category-title position-absolute text-white">All roads lead to Euro 2020</span>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0">
      <div class="featured-img categories-img-height background-img-setting position-relative">
        <span class="category-name position-absolute border-bottom border-3 border-warning text-white fw-bolder pb-1">
          Africa
        </span>

        <span class="category-title position-absolute text-white">Nigeria's Iheanacho and Ndidi lead Leicester to first ever FA cup title</span>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 pe-2">
      <div class="featured-img categories-img-height background-img-setting position-relative">
        <span class="category-name position-absolute border-bottom border-3 border-warning text-white fw-bolder pb-1">
          Grassroots
        </span>

        <span class="category-title position-absolute text-white pe-2">Taiwo Academy and Old Boys FC to slug it out in Obanikoro cup final</span>
      </div>
    </div>

  </section>
</div>