<div class="sticky-top-padding">
  <section class="featured">
    <div class="featured-img background-img-setting position-relative">
      <div class="featured-item position-absolute">
        <h4 class="featured-heading fw-bolder base-color">Fans return to Europe's top stadiums</h4>
        <p class="featured-snippet text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit voluptates delectus praesentium, aspernatur nulla mollitia vel vero adipisci, quas maiores magnam natus! Accusantium nobis aut adipisci repellat consequatur ea assumenda iure vero beatae tempore quidem odio sequi dolore sapiente accusamus, repudiandae corporis, eum ab perferendis quia modi. Deleniti, quam tempore?</p>
      </div>
    </div>
  </section>
</div>