<img width="40%" src="https://res.cloudinary.com/mobello/image/upload/v1622670144/soccerinfo/rails_uploads/undraw_profile_pic_ic5t_ccyeul.svg" class="rounded-circle mx-auto d-block my-2" alt="...">

<h3 class="base-color"><%= @writer.name.capitalize %></h3>

<div class="">
    <span class="social iconify" data-icon="entypo-social:twitter-with-circle" data-inline="false"></span> &nbsp;
    <span class="social iconify" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span> &nbsp;
    <span class="social iconify" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
</div>

<p class="text-muted">A writer with a penchant for the controversial. I have written sports content on both local, continental and international topics. I am a two time winner of
the Pulitzer winner for my unmatched pen craft in the sports industry &#128521;.</p>
<div class="card base-bg-color border-0 text-white fw-bolder py-2"><%= @votes %> upvotes this week</div>