<div class="alert alert-danger">
    <p class="fw-bolder"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
</div>