  <div class="row sticky-top-padding">
    <div class="offset-4 col-4">

     <%= flash_message %>

    <h1 class="text-center">SoccerInfo</h1>
    <%= user_errors %>
    <%= render 'form', btn_text: 'Sign In' %>

    <%= link_to 'SignUp', users_signup_path %>

    </div>
  </div>