@import 'bootstrap/dist/css/bootstrap';

$base-color: #eb712f;

.base-color {
  color: $base-color;
}

.base-bg-color {
  background-color: $base-color;
}

h1 {
  color: $base-color;
}

.navbar .navbar-brand {
  color: $base-color;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $base-color;
  text-decoration: underline;
}

.sign-up-div .btn {
  color: white;
  background-color: $base-color;
}

.sticky-top-padding {
  padding-top: 58px;
}

.featured-img {
  background-image:
    linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)),
    url("https://cdn.pixabay.com/photo/2014/03/18/20/21/man-290186_1280.jpg");
}

.featured-item {
  bottom: 0;
  left: 10px;
}

.background-img-setting {
  background-color: #ccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
