@import 'bootstrap/dist/css/bootstrap';

$base-color: #eb712f;

.navbar {
  background-color: #fdd6ea !important;
}

.navbar-brand {
  font-size: 3rem;
}

h1 {
  color: $base-color;
}

.sign-up-div .btn {
  color: white;
  background-color: $base-color;
}
