<footer class="row py-2 px-5">
    <div class="col-12 col-md-2">
        <h4><a class="text-white footer-link" href="">SoccerInfo</a></h4>
    </div>

    <div class="d-none d-lg-inline col-md-6 text-center">
        <a class="base-color me-1" href="#">Privacy policy</a>
        <a class="base-color me-1" href="#">Terms &#38; Conditions</a>
        <a class="text-white">Copyright 2021. All rights reserved</a>
    </div>

    <div class="col-12 col-md-10 col-lg-4">
        <div class="float-end">
            <span class="text-white">Connect with us:</span>
            <span class="social iconify" data-icon="entypo-social:twitter-with-circle" data-inline="false"></span>
            <span class="social iconify" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span>
            <span class="social iconify" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
        </div>
    </div>
    
</footer>